
@{
    ViewBag.Title = "Index";
}

<h2>Programa de Cadastro de Consumo</h2>
<div>@Html.ActionLink("Cadastro de Produtos", "IndexProduto", "Produto")</div>

<div>@Html.ActionLink("Cadastro de Consumo", "IndexConsumo", "Consumo")</div>